<style id="chromekdbxConfirmStyle">
    #chromekdbxConfirm * {
        font-family: "Helvetica Neue",Helvetica;
        color: #5e6d82;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        box-sizing: border-box;
    }

    #chromekdbxConfirm {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        width: 80%;
        padding: 10px 20px;
        font-size: 12px;
    }

    .chromekdbx-overlay {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: #000000;
        opacity: 0.2;
    }

    #chromekdbxConfirm .chromekdbx-confirmBtnList {
        text-align: right;
    }

    #chromekdbxConfirm .chromekdbx-confirmBtnList button {
        padding: 6px 10px;
        font-size: 11px;
        border: none;
        margin-left: 10px;
        color: #fff;
    }

    #chromekdbxConfirm button.chromekdbx-btnCancel {
        border: 1px solid #ccc;
        color: #5E6D82;
        background-color: #f7f7f7;
    }

    #chromekdbxConfirm button.chromekdbx-btnCancel:active {
        background-color: #d8d8d8;
    }
</style>
<div class="chromekdbx-overlay"></div>
<div id="chromekdbxConfirm">

    <div class="chromekdbx-confirmTitle">
        <p>{{title}}</p>
    </div>

    <hr/>

    <div class="chromekdbx-confirmBtnList">
        <button type="button" data-type="close" class="chromekdbx-btn chromekdbx-btnCancel">{{btn_no}}</button>
        <button type="button" data-type="ok" class="chromekdbx-btn chromekdbx-btnok">{{btn_yes}}</button>
    </div>

</div>
