@import 'base';

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.startForm--singleLine {
    display: flex;
    align-items: center;
}

.startForm {
    display: flex;
    line-height: 2;
    font-size: 16px;

    label {
        margin: 5px 0;
    }

    label.startForm--formFileContainerNote {
        font-size: 13px;
    }

    input {
        display: block;
    }
}

.startForm--divider {
    width: 0;
    margin: 0 40px;
    border-right: 1px solid $startFormDividerColor;
}

.startForm--divider-H {
    height: 0;
    margin: 10px 0;
    border-bottom: 1px solid $startFormDividerColor;
}

.startForm--formFileContainer {
    overflow: hidden;
    position: relative;
}

.startForm--formFileContainer [type=file] {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    left: 0;
    top: 0;
}

.startForm--form {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.startForm--formAlign {
    width: 400px;
}

.startForm--formFileContainerContinueBtn {
    margin-top: 20px;
    float: right;
}

.startForm--closeBtn {
    margin-top: 20px;
    float: right;
}

.startForm--readyToStartLbl {
    font-size: 26px;
}

.startForm--api {

    button {
        margin: 0 15px;
    }

    .startForm--apiTitle {
        font-size: 26px;
        margin: 0 0 20px 0;
    }
}

.startForm--apiCurrentType {
    font-size: 13px;
}

.startForm--formDisabled {
    opacity: 0.6;
}

.startForm--apiForm {

    label {
        font-size: 16px;
        width: 100px;
    }

    input {
        padding: 4px;
        height: auto;
    }

    button {
        margin-top: 20px;
    }
}

.startForm--apiFormDb {

    label {
        width: 260px;
    }

    input {
        padding: 5px 10px;
        height: auto;
    }

    button {
        margin-top: 20px;
    }
}

.startForm--apiConnectBtn, .startForm--apiNextBtn {
    float: right;
}

.startForm--apiError {
    font-size: 16px;
    color: $labelErrorColor;
    height: 32px;
}