$color-1: #ccc;
$color-2: #5e6d82;
$color-3: #3988e1;

$mainTextColor: $color-2;
$inputTextColor: $color-2;
$linkColor: $color-3;
$startFormDividerColor: $color-1;
$inputBorderColor: $color-1;


$mainFontSize: 14px;